html, body {
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* L I S T */
li {
  text-align: left;
}
.topLi {
  text-align: center;
  z-index:1;
  border-style: solid;
  margin-top: 5px;
  margin-right: 50px;
  padding: 5px;
  display: block;
}
ul {
  display: none;
}
/* B O X E S */
input {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 100px;
  height: 50px;  
  border: 1px solid #aaaaaa;
}
#div1 {
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 20px;
  margin-right: 10px;
  border-style: solid;
  background-color:aliceblue;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;  
  padding: 20px;
  margin-right: 10px;
  border-style: dashed;
}
